<div class="page gallery-page d-flex flex-column grey lighten-5">
  <section class="section section-carousel">
    <div class="container">

      <h3 class="font-weight-bold pb-5 text-center">Галерея</h3>

      <mdb-carousel [isControls]="true" class="carousel slide carousel-fade" [animation]="'fade'">
        <!--First slide-->
        <mdb-carousel-item>
          <div class="view w-100">
            <img class="d-block w-100" src="../../../assets/images/gallery/IMG_0415.JPG"
                 alt="Second slide">
          </div>
        </mdb-carousel-item>
        <!--Third slide-->
        <mdb-carousel-item>
          <div class="view w-100">
            <img class="d-block w-100" src="../../../assets/images/gallery/IMG_1558.JPG"
                 alt="Third slide">
          </div>
        </mdb-carousel-item>
        <!--/Third slide-->
        <mdb-carousel-item>
          <div class="view w-100">
            <img class="d-block w-100" src="../../../assets/images/gallery/IMG_1561.JPG"
                 alt="Third slide">
          </div>
        </mdb-carousel-item>
        <mdb-carousel-item>
          <div class="view w-100">
            <img class="d-block w-100" src="../../../assets/images/gallery/IMG_2150%20(2).JPG"
                 alt="Third slide">
          </div>
        </mdb-carousel-item>
        <mdb-carousel-item>
          <div class="view w-100">
            <img class="d-block w-100" src="../../../assets/images/gallery/IMG_2232%20(2).JPG"
                 alt="Third slide">
          </div>
        </mdb-carousel-item>
        <mdb-carousel-item>
          <div class="view w-100">
            <img class="d-block w-100" src="../../../assets/images/gallery/IMG_2235%20(2).JPG"
                 alt="Third slide">
          </div>
        </mdb-carousel-item>
        <mdb-carousel-item>
          <div class="view w-100">
            <img class="d-block w-100" src="../../../assets/images/gallery/IMG_4081.JPG"
                 alt="Third slide">
          </div>
        </mdb-carousel-item>
        <mdb-carousel-item>
          <div class="view w-100">
            <img class="d-block w-100" src="../../../assets/images/gallery/IMG_4082.JPG"
                 alt="Third slide">
          </div>
        </mdb-carousel-item>
        <mdb-carousel-item>
          <div class="view w-100">
            <img class="d-block w-100" src="../../../assets/images/gallery/IMG_4083.JPG"
                 alt="Third slide">
          </div>
        </mdb-carousel-item>
        <mdb-carousel-item>
          <div class="view w-100">
            <img class="d-block w-100" src="../../../assets/images/gallery/IMG_4084.JPG"
                 alt="Third slide">
          </div>
        </mdb-carousel-item>
        <mdb-carousel-item>
          <div class="view w-100">
            <img class="d-block w-100" src="../../../assets/images/gallery/IMG_4085.JPG"
                 alt="Third slide">
          </div>
        </mdb-carousel-item>
        <mdb-carousel-item>
          <div class="view w-100">
            <img class="d-block w-100" src="../../../assets/images/gallery/IMG_4777.PNG"
                 alt="First slide">
          </div>
        </mdb-carousel-item>
        <mdb-carousel-item>
          <div class="view w-100">
            <img class="d-block w-100" src="../../../assets/images/gallery/IMG_4086.JPG"
                 alt="Third slide">
          </div>
        </mdb-carousel-item>
        <mdb-carousel-item>
          <div class="view w-100">
            <img class="d-block w-100" src="../../../assets/images/gallery/IMG_4090.JPG"
                 alt="Third slide">
          </div>
        </mdb-carousel-item>
        <mdb-carousel-item>
          <div class="view w-100">
            <img class="d-block w-100" src="../../../assets/images/gallery/IMG_4092.JPG"
                 alt="Third slide">
          </div>
        </mdb-carousel-item>
        <mdb-carousel-item>
          <div class="view w-100">
            <img class="d-block w-100" src="../../../assets/images/gallery/IMG_4093.JPG"
                 alt="Third slide">
          </div>
        </mdb-carousel-item>
      </mdb-carousel>
    </div>
  </section>
</div>
