<section class="hover-head-block">
  <div class="head-block-text">
    <h1>
      Галерея
    </h1>
  </div>
</section>
<div class="new-container">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <div>
        <mdb-carousel [isControls]="true" class="carousel slide carousel-fade" [animation]="'fade'">
          <!--/First slide-->
          <mdb-carousel-item>
            <div class="view w-100">
              <img class="d-block w-100 img-size" src="../../../assets/images/photos/IMG_0415.JPG"
                   alt="Second slide">
            </div>
          </mdb-carousel-item>
          <mdb-carousel-item>
            <div class="view w-100">
              <img class="d-block w-100 img-size" src="../../../assets/images/photos/IMG_4776.PNG"
                   alt="Third slide">
            </div>
          </mdb-carousel-item>
          <!--Third slide-->
          <mdb-carousel-item>
            <div class="view w-100">
              <img class="d-block w-100 img-size" src="../../../assets/images/photos/IMG_1558.JPG"
                   alt="Third slide">
            </div>
          </mdb-carousel-item>
          <!--/Third slide-->
          <mdb-carousel-item>
            <div class="view w-100">
              <img class="d-block w-100 img-size img-size" src="../../../assets/images/photos/IMG_1561.JPG"
                   alt="Third slide">
            </div>
          </mdb-carousel-item>
          <mdb-carousel-item>
            <div class="view w-100">
              <img class="d-block w-100 img-size" src="../../../assets/images/photos/IMG_2150%20(2).JPG"
                   alt="Third slide">
            </div>
          </mdb-carousel-item>
          <mdb-carousel-item>
            <div class="view w-100">
              <img class="d-block w-100 img-size" src="../../../assets/images/photos/IMG_2232%20(2).JPG"
                   alt="Third slide">
            </div>
          </mdb-carousel-item>
          <mdb-carousel-item>
            <div class="view w-100">
              <img class="d-block w-100 img-size" src="../../../assets/images/photos/IMG_2235%20(2).JPG"
                   alt="Third slide">
            </div>
          </mdb-carousel-item>
          <mdb-carousel-item>
            <div class="view w-100">
              <img class="d-block w-100 img-size" src="../../../assets/images/photos/IMG_2488.JPG"
                   alt="Third slide">
            </div>
          </mdb-carousel-item>
          <mdb-carousel-item>
            <div class="view w-100">
              <img class="d-block w-100 img-size" src="../../../assets/images/photos/IMG_4081.JPG"
                   alt="Third slide">
            </div>
          </mdb-carousel-item>
          <mdb-carousel-item>
            <div class="view w-100">
              <img class="d-block w-100 img-size" src="../../../assets/images/photos/IMG_4082.JPG"
                   alt="Third slide">
            </div>
          </mdb-carousel-item>
          <mdb-carousel-item>
            <div class="view w-100">
              <img class="d-block w-100 img-size" src="../../../assets/images/photos/IMG_4083.JPG"
                   alt="Third slide">
            </div>
          </mdb-carousel-item>
          <mdb-carousel-item>
            <div class="view w-100">
              <img class="d-block w-100 img-size" src="../../../assets/images/photos/IMG_4084.JPG"
                   alt="Third slide">
            </div>
          </mdb-carousel-item>
          <mdb-carousel-item>
            <div class="view w-100">
              <img class="d-block w-100 img-size" src="../../../assets/images/photos/IMG_4085.JPG"
                   alt="Third slide">
            </div>
          </mdb-carousel-item>
          <mdb-carousel-item>
            <div class="view w-100">
              <img class="d-block w-100 img-size" src="../../../assets/images/photos/IMG_4777.PNG"
                   alt="First slide">
            </div>
          </mdb-carousel-item>
          <mdb-carousel-item>
            <div class="view w-100">
              <img class="d-block w-100 img-size" src="../../../assets/images/photos/IMG_4086.JPG"
                   alt="Third slide">
            </div>
          </mdb-carousel-item>
          <mdb-carousel-item>
            <div class="view w-100">
              <img class="d-block w-100 img-size" src="../../../assets/images/photos/IMG_4090.JPG"
                   alt="Third slide">
            </div>
          </mdb-carousel-item>
          <mdb-carousel-item>
            <div class="view w-100">
              <img class="d-block w-100 img-size" src="../../../assets/images/photos/IMG_4092.JPG"
                   alt="Third slide">
            </div>
          </mdb-carousel-item>
          <mdb-carousel-item>
            <div class="view w-100">
              <img class="d-block w-100 img-size" src="../../../assets/images/photos/IMG_4093.JPG"
                   alt="Third slide">
            </div>
          </mdb-carousel-item>
        </mdb-carousel>
      </div>
    </div>
  </div>
</div>
