<div class="view">
  <div class="full-bg-img">
    <div class="mask rgba-black-light flex-center">
      <div class="container text-center white-text">
        <div class="white-text text-center wow fadeInUp">
          <h2>Какой то заголовок</h2>
          <h5>что то написать тут нужно</h5>
          <br>
          <p>рандомный текст ба аб аб аб аб аб цу кцук цук цуййук  цйк цу кцй </p>
        </div>
      </div>
    </div>
  </div>
</div>
<main class="text-center py-5">
</main>
<div class="jumbotron text-center hoverable p-4">
  <div class="row">

    <div class="col-md-7 text-md-left ml-3 mt-3">
      <h4 class="h4 mb-4">This is title of the news</h4>
      <p class="font-weight-normal">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque, totam
        rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
        dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur.</p>
      <p class="font-weight-normal">by <a><strong>Carine Fox</strong></a>, 19/08/2016</p>
      <button mdbBtn type="button" color="primary" outline="true" mdbWavesEffect>Кнопка</button>
      <button mdbBtn type="button" color="default" outline="true" mdbWavesEffect>Кнопка</button>
      <button mdbBtn type="button" color="secondary" outline="true" mdbWavesEffect>Кнопка</button>
    </div>
    <div class="col-md-4 offset-md-1 mx-3 my-3">
      <div class="overlay waves-light" mdbWavesEffect>
        <img src="https://mdbootstrap.com/img/Photos/Others/laptop-sm.jpg" class="img-fluid" alt="Sample image for first version of blog listing">
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
    </div>
  </div>
</div>
