<div class="page page-home d-flex flex-column justify-content-center">
  <section class="section section-main container-fluid align-items-center grey lighten-5 text-center">
    <h1 class="home__title">Aesthetic group gymnastics studio "Allastica"</h1>
    <img class="home__image fadeIn" src="assets/images/home-bg.jpg" alt="Allastica">
  </section>

  <section class="section section-recruting pink darken-4 text-white">
    <div class="container">
      <h3 class="page__title font-weight-bold text-center pb-2 text-uppercase">Расписание</h3>
      <hr class="page__line text-white-50 border-white mt-4 mb-5">

      <div class="recruting__item row d-flex justify-content-center mb-5">
        <div class="col-12 col-md-4 col-lg-3 text-center">
          <h5 class="font-weight-normal mb-4">Девочки 4-6 лет</h5>
        </div>

        <div class="col-12 col-md-4 col-lg-3 text-center text-md-left">
          <p class=" mb-1 pb-2">Понедельник 16:00-17:00</p>
          <p class=" mb-1 pb-2">Четверг 16:00-17:00</p>
        </div>
      </div>

      <div class="recruting__item row d-flex justify-content-center mb-5">
        <div class="col-12 col-md-4 col-lg-3 text-center">
          <h5 class="font-weight-normal mb-4">Девочки 7-10 лет</h5>
        </div>

        <div class="col-12 col-md-4 col-lg-3 text-center text-md-left">
          <p class=" mb-1 pb-2">Понедельник 15:00-16:00</p>
          <p class=" mb-1 pb-2">Четверг 15:00-16:00</p>
        </div>
      </div>

      <div class="recruting__item buttons row d-flex justify-content-center" mdbWavesEffect>
        <button class="relative waves-light btn btn-amber dark-grey-text" mdbBtn type="button" mdbWavesEffect routerLink="class">
          Записаться на занятие
        </button>
      </div>
    </div>
  </section>

  <section class="section section-features text-justify grey lighten-5">
    <div class="container">

      <h2 class="text-center font-weight-bold mb-5 pb-2 text-uppercase">Основные особенности</h2>
<!--      <h2 class="text-center font-weight-bold mb-5 pb-2 text-uppercase">Основные особенности эстетической групповой гимнастики</h2>-->

      <div class="row pt-5">

        <div class="col-lg-5 text-center text-lg-left">
          <div class="img__wrapper d-flex flex-column flex-center align-center">
            <img class="img-fluid" src="assets/images/home-bg2.jpg" alt="Allastica">
          </div>
        </div>

        <div class="col-lg-7">

          <div class="row mb-3">

            <div class="col-1">
              <i class="fas fa-check fa-lg amber-text"></i>
            </div>

            <div class="col-xl-11 col-md-11 col-10">
              <h5 class="font-weight-bold mb-3 ">Групповой вид спорта</h5>
              <p class="grey-text">В эстетической гимнастике выступают только группами. Количество гимнасток в команде зависит от их возраста (от 6 до 12 человек). Одним из главных критериев выступления команды фигурирует синхронность исполнения: на площадке спортсменки должны быть единым целым.</p>
            </div>

          </div>

          <div class="row mb-3">

            <div class="col-1">
              <i class="fas fa-check fa-lg amber-text"></i>
            </div>

            <div class="col-xl-11 col-md-11 col-10">
              <h5 class="font-weight-bold mb-3">Не используются предметы</h5>
              <p class="grey-text">В эстетической гимнастике не используются предметы: ленты, обручи, мячи. Для того, чтобы донести тему выступления, гимнастки, как и балерины, призваны использовать все свои умения: гибкость, пластичность, выразительность исполнения, танцевальность и музыкальность. Купальник и прическа также обязаны соответствовать тематике выступления: за неисполнение данного требования снимаются баллы.</p>
            </div>

          </div>

          <div class="row mb-3">

            <div class="col-1">
              <i class="fas fa-check fa-lg amber-text"></i>
            </div>

            <div class="col-xl-11 col-md-11 col-10">
              <h5 class="font-weight-bold mb-3">Движения тела</h5>
              <p class="grey-text">В эстетической гимнастике большое внимание уделяется движениям тела, специфическим именно для этого вида спорта. Правильное исполнение волн, взмахов, расслаблений и скручиваний и тд.</p>
            </div>

          </div>

          <div class="row">

            <div class="col-1">
              <i class="fas fa-check fa-lg amber-text"></i>
            </div>

            <div class="col-xl-11 col-md-11 col-10">
              <h5 class="font-weight-bold mb-3">Безопасность</h5>
              <p class="grey-text mb-0">В художественной гимнастике последние годы была замечена неприятная тенденция: девочки заканчивают свою карьеру уже в 12-13 лет вследствие проблем со спиной, коленями. В эстетической гимнастике, благодаря правильному балансу между движениями тела, элементами, танцевальными шагами нагрузка на организм не столь сильная. Карьера многих спортсменок продолжается вплоть до 25 лет.</p>
            </div>

          </div>

        </div>

      </div>
    </div>
  </section>

</div>
<main class="text-center"></main>
<!--<div class="jumbotron text-center hoverable p-4">-->
<!--  </div>-->
