<div class="view">
  <div class="full-bg-img">
    <div class="mask rgba-black-light flex-center">
      <div class="container text-center white-text">
        <div class="white-text text-center wow fadeInUp">
<!-- Тут можно текст и заголовок воткнуть -->
        </div>
      </div>
    </div>
  </div>
</div>
<main class="text-center py-5">
</main>
<div class="jumbotron text-center hoverable p-4">
  <div class="row">
    <div class="col-md-7 text-md-left ml-3 mt-3">
      <h4 class="h4 mb-4">Открыт набор девочек в группы по эстетической гимнастике. </h4>
      <p class="font-weight-normal">Расписание занятий для девочек 4-6 лет: понедельник 16:00-17:00 и четверг 17:00-18:00.</p>
      <p class="font-weight-normal">Расписание занятий для девочек 7-10 лет: понедельник 15:00-16:00 и четверг 16:00-17:00.</p>
      <p class="font-weight-normal">Задать вопросы или записаться вы можете по телефону +420608388457 или через сайт.</p>
      <button mdbBtn type="button" color="secondary" outline="true" style="display: none" mdbWavesEffect>Подробнее</button>
    </div>
    <div class="col-md-4 offset-md-1 mx-3 my-3">
      <div class="overlay waves-light" mdbWavesEffect>
        <img src="assets/images/news/news.jpg" class="img-fluid" alt="Sample image for first version of blog listing">
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
    </div>
  </div>
</div>
