<div class="page contact-page d-flex grey lighten-5">
  <div class="container">
    <section class="text-center dark-grey-text">

      <div class="row d-flex justify-content-center mb-5">
        <div class="col-md-9 text-center">

          <h3 class="font-weight-bold">Связаться с нами</h3>

          <form [formGroup]="validationForm"
                (ngSubmit)="sendMessage()"
                action="">
            <div class="row">
              <div class="col-md-6 mb-4">
                <div class="md-form md-outline">
                  <input mdbInput mdbValidate type="text"
                         class="form-control" id="form1" formControlName="firstName">
                  <label for="form1">Введите ваше шмя</label>
                  <mdb-error *ngIf="submitted && controls.email.hasError('required')">Поле Имя обязательное для заполнения
                  </mdb-error>
                </div>
              </div>
              <div class="col-md-6 mb-4">
                <div class="md-form md-outline">
                  <input mdbInput mdbValidate type="text"
                         class="form-control" id="form2" formControlName="lastName">
                  <label for="form2">Введите вашу фамилию</label>
                  <mdb-error *ngIf="submitted && controls.email.hasError('required')">Поле Фамилия обязательное для заполнения
                  </mdb-error>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-12 mb-4">
                <div class="md-form md-outline">
                  <input mdbInput mdbValidate type="email"
                         class="form-control" id="form9" formControlName="email">
                  <label for="form9">Введите ваш e-mail</label>
                  <mdb-error *ngIf="submitted && controls.email.hasError('email')">Введите корректный Email</mdb-error>
                  <mdb-error *ngIf="submitted && controls.email.hasError('required')">Поле Email обязательное для заполнения
                  </mdb-error>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-12">
                <div class="md-form md-outline mb-4">
                  <textarea type="text"
                            id="form75"
                            class="form-control md-textarea"
                            rows="3"
                            formControlName="message"
                            mdbInput>
                  </textarea>
                  <label for="form75">Введите ваше сообщение</label>
                  <mdb-error *ngIf="submitted && controls.message.hasError('required')">Данное поле обязательное для заполнения
                  </mdb-error>
                </div>
              </div>
            </div>

            <button type="submit" class="btn btn-amber dark-grey-text ml-0" [disabled]="validationForm.invalid"
                    mdbBtn>
              Отправить
              <i class="far fa-paper-plane ml-2"></i>
            </button>
          </form>
        </div>

      </div>

      <div class="row text-center pt-5">

        <div class="col-lg-4 col-md-12 mb-4 mb-md-0">

          <i class="fas fa-map-marker-alt fa-2x amber-text"></i>

          <p class="font-weight-bold my-3">Адрес</p>

          <p class="text-muted">Na Bělidle 27, Prague 5-Smíchov Prague, Czech Republic</p>

        </div>

        <div class="col-lg-4 col-md-6 mb-4 mb-md-0">

          <i class="fas fa-envelope fa-2x amber-text"></i>

          <p class="font-weight-bold my-3">E-mail</p>

          <p class="text-muted">allastica.agg@gmail.com</p>

        </div>

        <div class="col-lg-4 col-md-6 mb-4 mb-md-0">

          <i class="fas fa-phone fa-2x amber-text"></i>

          <p class="font-weight-bold my-3">Телефон, WhatsApp, Telegram</p>

          <p class="text-muted">+420 608388457</p>

        </div>


      </div>

      <div id="map-container-google-1" class="z-depth-1 map-container mt-5">
        <angular-yandex-map [center]="[50.071552, 14.405653]" [zoom]="18">
          <angular-yandex-placemark [geometry]="[50.071552, 14.405653]"></angular-yandex-placemark>
        </angular-yandex-map>
      </div>
    </section>
  </div>


</div>
