<section class="hover-head-block">
  <div class="head-block-text">
    <h1>
      Рассписание
    </h1>
  </div>
</section>
<div class="new-container schedule">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h4>Рассписание занятий</h4>
      <table class="table table-striped table-responsive-md btn-table">
        <thead>
        <tr>
          <th>#</th>
          <th>Возраст</th>
          <th>Время</th>
          <th>День</th>
          <th>Запись</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let table of schedule">
          <th scope="row">
            {{ table.id }}
          </th>
          <td>
            {{ table.title }}
          </td>
          <td>
            {{ table.day }}  <mdb-badge color="pink">{{ table.status }}</mdb-badge>
          </td>
          <td>
            {{ table.time }}
          </td>
          <td>
            <button mdbBtn size="sm" mdbWavesEffect type="button" class="m-0 warning-color" routerLink="/class">Записаться</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
