<section class="hover-head-block">
  <div class="head-block-text">
    <h1>
      Новости
    </h1>
  </div>
</section>
<div class="new-container">
  <div class="jumbotron text-center hoverable p-4">
    <div class="row">

      <div class="col-md-7 text-md-left ml-3 mt-3">
        <h4 class="h4 mb-4">Всероссийские соревнования «Надежды России»</h4>
        <p class="font-weight-normal">С 6 по 9 декабря 2019 года в Ростове-на-Дону  состоялись Всероссийские соревнования «Надежды России».
          Тульские команды прекрасно выступили и достойно завершили сезон 2019 года.
          <br>
          Возрастная категория «Девушки» 12-14 лет, Команда «Роксэт» – I место
          <br>
          Возрастная категория «Девочки» 10-12 лет, Команда «Роксэт – Агат» — II место
          <br>
          Поздравляем спортсменок и тренеров команд – Толкалину Кристину Геннадиевну и Данько Галину Николаевну.</p>
        <p class="font-weight-normal">by <a><strong>Carine Fox</strong></a>, 19/08/2016</p>
        <button mdbBtn type="button" color="primary" outline="true" mdbWavesEffect>Кнопка</button>
        <button mdbBtn type="button" color="default" outline="true" mdbWavesEffect>Кнопка</button>
        <button mdbBtn type="button" color="secondary" outline="true" mdbWavesEffect>Кнопка</button>
      </div>
      <div class="col-md-4 offset-md-1 mx-3 my-3">
        <div class="overlay waves-light" mdbWavesEffect>
          <img src="https://mdbootstrap.com/img/Photos/Others/laptop-sm.jpg" class="img-fluid" alt="Sample image for first version of blog listing">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="jumbotron text-center hoverable p-4">
    <div class="row">

      <div class="col-md-7 text-md-left ml-3 mt-3">
        <h4 class="h4 mb-4">This is title of the news</h4>
        <p class="font-weight-normal">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque, totam
          rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
          dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur.</p>
        <p class="font-weight-normal">by <a><strong>Carine Fox</strong></a>, 19/08/2016</p>
        <button mdbBtn type="button" color="primary" outline="true" mdbWavesEffect>Кнопка</button>
        <button mdbBtn type="button" color="default" outline="true" mdbWavesEffect>Кнопка</button>
        <button mdbBtn type="button" color="secondary" outline="true" mdbWavesEffect>Кнопка</button>
      </div>
      <div class="col-md-4 offset-md-1 mx-3 my-3">
        <div class="overlay waves-light" mdbWavesEffect>
          <img src="https://mdbootstrap.com/img/Photos/Others/laptop-sm.jpg" class="img-fluid" alt="Sample image for first version of blog listing">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="jumbotron text-center hoverable p-4">
    <div class="row">

      <div class="col-md-7 text-md-left ml-3 mt-3">
        <h4 class="h4 mb-4">This is title of the news</h4>
        <p class="font-weight-normal">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque, totam
          rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
          dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur.</p>
        <p class="font-weight-normal">by <a><strong>Carine Fox</strong></a>, 19/08/2016</p>
        <button mdbBtn type="button" color="primary" outline="true" mdbWavesEffect>Кнопка</button>
        <button mdbBtn type="button" color="default" outline="true" mdbWavesEffect>Кнопка</button>
        <button mdbBtn type="button" color="secondary" outline="true" mdbWavesEffect>Кнопка</button>
      </div>
      <div class="col-md-4 offset-md-1 mx-3 my-3">
        <div class="overlay waves-light" mdbWavesEffect>
          <img src="https://mdbootstrap.com/img/Photos/Others/laptop-sm.jpg" class="img-fluid" alt="Sample image for first version of blog listing">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

