<div class="modal-header">
  <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
    <span aria-hidden="true">×</span>
  </button>
  <h4 class="modal-title w-100" id="myModalLabel">Для записи на первой занятие необходимо заполнить форму</h4>
</div>
<div class="modal-body">
  <form  [formGroup]="validationForm">
    <div class="md-form">
      <input mdbInput mdbValidate type="text"
             class="form-control" id="form1" formControlName="firstName">
      <label for="form1">Введите ваше имя</label>
      <mdb-error *ngIf="controls.email.hasError('required')">Поле Имя обязательное для заполнения</mdb-error>
    </div>
    <div class="md-form">
      <input mdbInput mdbValidate type="text"
             class="form-control" id="form2" formControlName="lastName">
      <label for="form2">Введите вашу фамилию</label>
      <mdb-error *ngIf="controls.email.hasError('required')">Поле Фамилия обязательное для заполнения</mdb-error>
    </div>
    <div class="md-form">
      <input mdbInput mdbValidate type="email"
             class="form-control" id="form9" formControlName="email">
      <label for="form9">Type your e-mail</label>
      <mdb-error *ngIf="controls.email.hasError('email')">Введите корректный Email</mdb-error>
      <mdb-error *ngIf="controls.email.hasError('required')">Поле Email обязательное для заполнения</mdb-error>
    </div>
    <button type="submit" mdbBtn color="primary" class="relative waves-light" mdbWavesEffect>Отправить форму</button>
    <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="modalRef.hide()" mdbWavesEffect>Закрыть</button>
  </form>
</div>

