<header class="h-100">
  <mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark pink lighten-1 scrolling-navbar intro-fixed-nav" [containerInside]="false">
    <mdb-navbar-brand>
      <a class="navbar-brand" href="#">
        <img src="../../../assets/images/logo.png" height="30" class="d-inline-block align-top" alt="">
      </a>
    </mdb-navbar-brand>
    <links>
      <ul class="navbar-nav mr-auto ">
        <li *ngFor="let url of urls" [ngClass]="{'active': url.button}" class="nav-item waves-light" (click)="changePublic()" mdbWavesEffect>
          <a class="nav-link" [routerLink]="url.url">{{url.name}}</a>
        </li>
      </ul>
      <form class="form-inline waves-light" mdbWavesEffect>
        <div class="md-form my-0">
          <button class="peach-gradient" mdbBtn type="button" mdbWavesEffect routerLink="class">Записаться на занятие</button>
        </div>
      </form>
    </links>
  </mdb-navbar>
</header>

