.header {
  .nav-item {
    &.active {
      .nav-link {
        background-color: transparent !important;
      }
    }
  }
}

.nav-link {
  color: #ffbb33 !important;
  font-size: larger;
  font-weight: 400;

  &:hover {
    color: #FF8800 !important;
  }
}


