<section class="hover-head-block">
  <div class="head-block-text">
    <h1>
      О нас
    </h1>
  </div>
</section>
<div class="row">
  <div class="col-sm orange lighten-2 about-color">
    <div class="about-container">
      <mdb-icon fas icon="users" class="fa-2x about-logo"></mdb-icon>
      <div>
        <h5>
          Групповой вид спорта
        </h5>
        <p>
          В эстетической гимнастике выступают только группами. Количество гимнасток в команде зависит от их возраста
          (от 6 до 12 человек). Одним из главных критериев выступления команды фигурирует синхронность исполнения: на
          площадке спортсменки должны быть единым целым.
        </p>
      </div>
    </div>
  </div>
  <div class="col-sm rgba-pink-strong about-color">
    <div class="about-container">
      <mdb-icon far icon="check-circle" class="fa-2x about-logo"></mdb-icon>
      <div>
        <h5>
          НЕ ИСПОЛЬЗУЮТСЯ ПРЕДМЕТЫ
        </h5>
        <p>
          В эстетической гимнастике не используются предметы: ленты, обручи, мячи. Для того, чтобы донести тему
          выступления, гимнастки, как и балерины, призваны использовать все свои умения: гибкость, пластичность,
          Выразительность исполнения, танцевальность и музыкальность. Купальник и прическа также обязаны соответствовать
          тематике выступления: за неисполнение данного требования снимаются баллы.
        </p>
      </div>
    </div>
  </div>
  <div class="col-sm rgba-purple-strong about-color">
    <div class="about-container">
      <mdb-icon fas icon="child" class="fa-2x about-logo"></mdb-icon>
      <div>
        <h5>
          ДВИЖЕНИЯ ТЕЛА
        </h5>
        <p>
          В эстетической гимнастике большое внимание уделяется движениям тела, специфическим именно для этого вида
          спорта. Правильное исполнение волн, взмахов, расслаблений и скручиваний и тд.
        </p>
      </div>
    </div>
  </div>
  <div class="col-sm rgba-green-strong about-color">
    <div class="about-container">
      <mdb-icon far icon="heart" class="fa-2x about-logo"></mdb-icon>
      <div>
        <h5>
          БЕЗОПАСНОСТЬ
        </h5>
        <p>
          В художественной гимнастике последние годы была замечена неприятная тенденция: девочки заканчивают свою
          карьеру уже в 12-13 лет вследствие проблем со спиной, коленями. В эстетической гимнастике, благодаря
          правильному балансу между движениями тела, элементами, танцевальными шагами нагрузка на организм не столь
          сильная. Карьера многих спортсменок продолжается вплоть до 25 лет.
        </p>
      </div>
    </div>
  </div>
</div>
