<section class="hover-head-block">
  <div class="head-block-text">
    <h1>
      О нас
    </h1>
  </div>
</section>
<section class="about-row">
  <div class="about-content">
    <div class="new-container">
      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">НАША СТУДИЯ</h1>
          <p class="lead">Занятия в студии проходят под руководством квалифицированных и опытных специалистов. Опыт
            более 6 лет. Высшее образование в сфере педагогики. В эстетической гимнастике нет элементов риска, а
            упражнения выполняются без предметов, как следствие травматичность в разы меньше, чем в художественной
            гимнастике.</p>
          <p class="lead">Основатель студии гимнастики «Allastica», участница двух Чемпионатов мира по эстетической
            гимнастике Мастыкина Алла Леонидовна.</p>
          <h1 class="display-4">О ЭСТЕТИЧЕСКОЙ ГИМНАСТИКЕ</h1>
          <p class="lead"><i>Эстетическая гимнастика — командный дух и экспрессия.</i></p>
          <p class="lead">Эстетическая гимнастика— это синтетический вид спорта (художественная гимнастика, танец,
            акробатика), который характеризуется умением передавать общий характер музыки в движении и придавать
            движениям целостность, слитность, свободу, изящество и различную эмоциональную окраску. Это молодой, но
            активно развивающийся вид спорта. Часто эстетическую гимнастику сравнивают с художественной. Действительно,
            эти два вида гимнастики имеют одинаковые истоки, но художественная гимнастика отошла от изначального своего
            предназначения. Девушка двадцати лет уже не может выполнить те элементы, что выполняет девочка в 12 лет. В
            эстетической гимнастике от спортсменки не требуется исключительных данных, поэтому заниматься этим видом
            спорта могут девушки и женщины любого возраста. Достаточно иметь хореографическую подготовку, артистичность,
            музыкальный слух и чувство партнера. Главное здесь – через язык тела показать характер, мысль, красоту,
            чувства.</p>
          <p class="lead">Эстетическая гимнастика является командным видом спорта, здесь не используют ленты, мячи и
            обручи, как в художественной гимнастике. Количество гимнасток в каждой команде зависит от возрастной
            категории (группы от шести до двендцати гимнасток). Команда должна быть единым организмом – до каждого
            взгляда, вздоха, до едва заметного движения мизинцем. В результате тренировок оттачивается исполнение
            каждого элемента, достигается абсолютное единение с музыкой. Соревнования по эстетической гимнастике — это
            грандиозное яркое зрелище. Каждая соревновательная программа — маленький спектакль, соединяющий в себе
            спорт, пластику, грацию, современную хореографию, командный дух и экспрессию.
          </p>
          <h1 class="display-4">ИСТОРИЯ</h1>
          <p class="lead">Эстетическая гимнастика не только красивый, грациозный, но и даже романтичный вид спорта.
            Изобретение этого вида приписывают Айседоре Дункан, именно она первой стала танцевать босиком, а не на
            пуантах как в классическом балете. Айседора настаивала на том, что танец должен быть естественным
            продолжением человеческого движения, отражать эмоции и характер исполнителя. Импульсом для появления танца
            должен стать язык души. Именно в свободном танце, особенно в групповом его исполнении, считала она, можно
            раскрыть всю красоту женской природы и грациозность движений.</p>
          <p class="lead">В современном виде эстетическая гимнастика появилась в середине XX века в странах Северной
            Европы. Впервые соревнования по этому виду спорта были проведены в 1950 году в Хельсинки, но первый
            чемпионат мира прошел лишь в 2000 году. В 2003 г. была образована Международная федерация эстетической
            групповой гимнастики (IFAGG), в состав которой входят национальные федерации более чем 30 стран мира.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="about-intro">
    <div class="col-sm orange lighten-2 about-color">
      <div class="about-container">
        <mdb-icon fas icon="users" class="fa-2x about-logo"></mdb-icon>
        <div>
          <h5>
            Групповой вид спорта
          </h5>
          <p>
            В эстетической гимнастике выступают только группами. Количество гимнасток в команде зависит от их возраста
            (от 6 до 12 человек). Одним из главных критериев выступления команды фигурирует синхронность исполнения: на
            площадке спортсменки должны быть единым целым.
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm rgba-pink-strong about-color">
      <div class="about-container">
        <mdb-icon far icon="check-circle" class="fa-2x about-logo"></mdb-icon>
        <div>
          <h5>
            НЕ ИСПОЛЬЗУЮТСЯ ПРЕДМЕТЫ
          </h5>
          <p>
            В эстетической гимнастике не используются предметы: ленты, обручи, мячи. Для того, чтобы донести тему
            выступления, гимнастки, как и балерины, призваны использовать все свои умения: гибкость, пластичность,
            Выразительность исполнения, танцевальность и музыкальность. Купальник и прическа также обязаны
            соответствовать
            тематике выступления: за неисполнение данного требования снимаются баллы.
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm rgba-purple-strong about-color">
      <div class="about-container">
        <mdb-icon fas icon="child" class="fa-2x about-logo"></mdb-icon>
        <div>
          <h5>
            ДВИЖЕНИЯ ТЕЛА
          </h5>
          <p>
            В эстетической гимнастике большое внимание уделяется движениям тела, специфическим именно для этого вида
            спорта. Правильное исполнение волн, взмахов, расслаблений и скручиваний и тд.
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm teal accent-4 about-color">
      <div class="about-container">
        <mdb-icon far icon="heart" class="fa-2x about-logo"></mdb-icon>
        <div>
          <h5>
            БЕЗОПАСНОСТЬ
          </h5>
          <p>
            В художественной гимнастике последние годы была замечена неприятная тенденция: девочки заканчивают свою
            карьеру уже в 12-13 лет вследствие проблем со спиной, коленями. В эстетической гимнастике, благодаря
            правильному балансу между движениями тела, элементами, танцевальными шагами нагрузка на организм не столь
            сильная. Карьера многих спортсменок продолжается вплоть до 25 лет.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
