.page {
  margin-top: 64px;
  min-height: 100vh;
  padding: 80px 0;
  width: 100%;

  &__line {
    width: 3.2rem
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.carousel {
  &-indicators li {
    background-color: #ffc107 !important;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

